

/* Navbar Css Start */
.navbar {
  justify-content: space-between;
  display: flex;
  padding-top: 1px;
  position: fixed;
  top: 0px;
  background-color: rgba(255, 255, 255, 0.7);
  color: black;
  height: 100px;
  width: 100%;
  z-index: 999;
}
.logo {
  height: 120px;
  margin-left: 20px;
}

.nav-list ul{
  display: flex;
  list-style-type: none;
  /* margin: 15px 50px 0px 50px; */
}
.list-items,
.list-link {
  color: black;
  font-weight: 800;
  text-decoration: none;
  font-size: 25px;
  font-family: "Open Sans", sans-serif;
  margin-right: 60px;
}
.list-link:hover {
  border-bottom: 2px solid black;
}
.list-link:active {
  color: black;
}

/* Navbar Css Start */

.hero {
  margin: 250px 0px 350px 810px;
 
}
.hero-tagline {
  font-size: 20px;
  text-transform: uppercase;
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
  font-style: italic;
  text-align-last: center;
  margin-right: 50px;
  margin-left: 30px;
}
.hero-intro {
  font-size: 18px;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  color: rgb(105, 111, 116);
}
.name {
  color: rgb(255, 171, 2);
  font-style: italic;
  text-decoration: underline;
  cursor: pointer;
}
.explore-btn {
  margin: 30px 0px 0px 280px;
}
.exp-btn {
  border: 1px solid rgb(49, 55, 59, 0.9);
  background-color: rgb(206, 23, 81, 0.6);
  font-size: 18px;
  border-radius: 50px;
  padding: 15px;
  color: rgb(49, 55, 59, 0.9);
}
.exp-btn:hover {
  background-color: rgb(206, 23, 81, 0.9);
  cursor: pointer;
  transform: scale(1.05) translateY(-5%);

}


.card {
  height: 350px;
  width: 624px;
  margin-top: 130px;
  display: inline-block;
  margin-left: 100px;
  transition: 0.3s;
  margin-bottom: 60px;
  color: black;
  cursor: pointer;
}
.card img {
  box-shadow: 0 4px 8px 2px rgba(0, 0, 0, 0.2);
  border-radius: 20px;
}
/* .card:hover {
  color: rgb(0, 0, 0);
  transform: scale(1.05) translateY(-5%);
} */

.Recipeload{
  margin-top: 100px;
}



.recipe-contain {
  /* display: none; */
  color: rgb(0, 0, 0);
  position: absolute;
  margin: 280px 0px 0px 5px;
  width: 455px;
}
.card:hover .recipe-contain {
  display: block;
}
/* .recipe-contain2 {
  color: aliceblue;
  position: absolute;
  margin: 250px 0px 0px 15px;
  width: 340px;
  display: none;
}
.card:hover .recipe-contain2 {
  display: block;
}
.recipe-contain3 {
  color: aliceblue;
  position: absolute;
  margin: 250px 0px 0px 15px;
  width: 340px;
  display: none;
}
.card:hover .recipe-contain3 {
  display: block;
} */
.recipe-name {
  font-size: 22px;
  font-style: italic;
}
.recipe-intro {
  text-align: justify;
  font-size: 18px;
}
.load-btn {
  text-align: center;
  margin-bottom: 20px;
  color: black;
}
.load-btn button a {
  text-decoration: none;
  color: black;
}
.load-btn button {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  text-decoration: none;
  border: none;
  border-radius: 25px;
  font-size: 18px;
  padding: 15px;
  background: rgb(247, 182, 44);
  box-shadow: 2px 2px 2px black;
}
.btn-loadmore:hover {
  transform: scale(1.05) translateY(-5%);
  box-shadow: 1px 1px 5px black;
}

.recipe-contain a,
.recipe-contain2 a,
.recipe-contain3 a {
  color: aliceblue;
  text-decoration: none;
}
.recipe-contain:active a {
  color: aliceblue;
}
.see-more-link {
  color: rgb(229, 229, 229);
  text-decoration: underline;
  border-bottom: 1px solid rgb(229, 229, 229);
  font-style: bold;
  font-style: italic;
}

/* Berry Sandwhich CSS start here */

.berry-img-bg,
.berry-img-bg img {
  top: 0px;
  height: 500px;
  width: 720px;
  opacity: 0.6;
  filter: brightness(120%);
}
.berry-img-bg {
  display: inline-block;
}
.berry-img img {
  box-shadow: 2px 2px 10px black;
  height: 500px;
  border-radius: 10px;
  float: right;
  margin: 100px 50px 0px 20px;
}
.recipes-steps h1 {
  text-shadow: 1px 2px 20px rgb(248, 72, 1, 0.4);

  text-align: center;
  margin-top: 40px;
  font-family: "Merienda", cursive;
  font-style: oblique;
  font-weight: 100;
  font-size: 45px;
}
.ingredients {
  display: inline-block;
  font-size: 23px;
}
.instructions {
  text-align: justify;
  font-size: 23px;
  margin-bottom: 200px;
}
.ingredients ul,
.instructions ol {
  line-height: 30px;
}
.ingredients h2,
.instructions h2 {
  font-style: italic;
}
.bp-head {
  text-align: center;
  font-family: "Merienda", cursive;
  font-size: 20px;
  font-style: oblique;
  text-shadow: 1px 2px 20px rgb(248, 72, 1, 0.4);
}

.benefit-para p {
  margin: 10px 0px 150px 0px;
  height: 200px;
  width: 900px;
  text-align: center;
  float: right;
  font-size: 22px;
  font-style: italic;
}
.berry-2-img img {
  margin: 50px 0px 0px 20px;
  max-width: 35%;
  border-radius: 20px;
  box-shadow: 1px 2px 20px rgb(251, 42, 7, 0.4);
  float: left;
}
.reviews-head {
  display: inline-block;
}
.reviews-head h1 {
  font-family: "Merienda", cursive;
  margin-left: 700px;
}
.card-berry {
  background-color: rgb(248, 249, 251);
  padding: 20px;
  box-shadow: 1px 2px 10px black;
  height: 270px;
  width: 250px;
  float: left;
  text-align: center;
  margin: 30px 10px 50px 60px;
  border-radius: 10%;
}
.cards-contain img {
  display: inline-block;
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.cards-contain p{
   color: rgb(105, 111, 116);
}
/* Berry Sandwhich CSS Ends here */

/* Paneer pizza CSS Starts here */

.heading-paneer h3 {
  margin-top: 0px;
  /* text-align: center; */
  font-size: 40px;
  font-family: "Merienda", cursive;
  font-style: italic;
  font-weight: 100;
}
.paneer-img img {
  box-shadow: 2px 2px 10px black;
  border-radius: 25px;
  height: 450px;
  float: left;
  margin: 190px 150px 300px 100px;
}
.ingridients h2,
.instruction h2 {
  font-style: italic;
  text-align: center;
}
.ingridients ul li,
.instruction ol li {
  line-height: 30px;
  font-size: 18px;
}
.instruction ol {
  margin-bottom: 150px;
}
.paneer-img h2 {
  position: absolute;
  top: 650px;
  left: 180px;
}
.pizza-benefit h1 {
  font-style: italic;
  font-family: "Merienda", cursive;
  font-weight: 100;
  text-align: center;
  font-size: 40px;  
  margin-bottom: 0px;
}
.pb-img img {
  float: left;
  height: 400px;
  border-radius: 20px;
}
.pb-img {
  margin: 0px 200px 0px 45px;
}
.pizza-benefit p{
  margin:70px 20px 40px 0px;
  font-size: 18px;
  text-align: justify;
}

/* paneer pizza Section ends here  */

/* Tacos Section Starts here */


.tacos-heading{
  text-align: center;
  font-family: 'Merienda', cursive;
  font-size: 25px;
  font-style: italic;
  font-weight: 100;
  margin-bottom: 0px;
}
.tacos-img-pg img{
  margin: 250px 0px 300px 50px ;
  border-radius: 25px;
  height: 420px;
  float: left;

}
.tacos-recipe-contain{
  margin-top: 0px;
  float: right;
}
.tacos-ingredients h3, .tacos-instructions h3{
  text-align: center;
  font-style: italic;
  font-size:25px ;
}
.tacos-ingredients ul, .tacos-instructions ol{
  font-size: 18px;
  line-height: 35px;
}
.tacos-2-img img{
  height: 300px;
  margin: 60px 0px 0px 520px;
  border-radius: 25px;
}
.tacos-2-img h2{
  text-align: center;
  font-size: 30px;
  font-family: 'Open Sans', sans-serif;
}
.tacos-head h1{

 font-style: italic;
  font-family: "Merienda", cursive;
  font-weight: 100;
  font-size: 40px;  
}
.benefit-tacos p{
  font-size: 18px;
  text-align: justify;
}


/* contact section start  */


.contact-main{
  margin-left: 100px;
}
.contact svg{
  height:40px;
  float: left;
  margin-left: 20px;
  margin-bottom: 10px;
  margin-right: 10px;

}
.contact svg:hover{
  cursor: pointer;
}

.contact{
  display: inline-block;
  position: relative;
  z-index: 1;
  top: 10px;
  left: 50px;
  height: 450px;
  width: 350px;
  background-color: rgba(235, 207, 174, 0.724);
  margin-top: 100px;
  border-radius: 5px;
}
.location p, .email p, .number p{
  margin: 30px 0px 0px 0px;
  font-size: 20px;
  text-align:left;
  color: rgb(0, 0, 0);
  font-family: Arial, Helvetica, sans-serif;
  
}
.contact-heading h1{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
}
.social-media{
  margin-top: 140px;
  color: black;
}
.contact-section input{
  position: relative;
  left: 170px;
}
.heading-contact-see{ 
  margin: 0px 0px 10px 180px;
  font-size: 20px;
  position: relative;
  top: 40px;
  font-style: italic;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}
.input-of-contact form input{
  padding: 18px 0px 18px 18px;
  padding-right: 30px;
  background-color: rgba(240, 255, 255, 0.183);
  margin-top: 45px;
  margin-right: 90px;
  border: 1px solid;
  
}
.input-of-contact{
  position:static;
 
}
.contact-section{
  /* background: url(./Assests/Background-contact.jpg); */
  background-attachment:scroll;
  background-size: cover;
  margin: 100px 0px 100px 0px ;
  height: 500px;
  width: 70%;
  background-color: rgba(253, 253, 253, 0.395);
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.406);
  display: inline-block;
  position: relative;
  right: 100px;
}
textarea{
  padding: 18px;
  background-color: rgba(240, 248, 255, 0.201);
  margin-left: 180px;
  margin-top: 48px;
  border: 1px solid;
  position: absolute;
  resize:vertical;
}
.mail{
  text-align: center;
}
form{
  padding-left: 90px;
}
input::placeholder{
  color: rgb(0, 0, 0);
  font-style: none;
  font-size: 15px;
  text-align: center;
}
textarea::placeholder{
  color: rgb(0, 0, 0);
  font-style: none;
  font-size: 15px;
  text-align: center;
}
.contact-btn{
  position: absolute;
  margin-top: 50px;
  margin-left: 260px;
  font-size: 25px;
  padding: 5px 25px 5px 25px;
  border-radius: 10px;
  font-family: 'Times New Roman', Times, serif;
  background-color: rgba(187, 243, 224, 0.644);
}
.contact-btn:hover{
  cursor: pointer;
  transform: scale(1.05) translateY(-5%);

}
.footer{
  text-align: center;
  font-size: 18px;
  background-color: rgba(0, 0, 0, 0.568);
  color: aliceblue;
}










@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #00B4CC;
  border-right: none;
  padding: 5px;
  height: 20px;
  border-radius: 5px 0 0 5px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #00B4CC;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #00B4CC;
  background: #00B4CC;
  text-align: center;
  color: #fff;
  border-radius: 0 5px 5px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 30%;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-bottom: 50px;
}
.error{
  position: absolute;
  top: 20%;
  left: 45%;
}
/* .hero{
  background-image: url(./Assests/Backgoround-image.jpg);
  background-repeat:repeat-y;
  background-size: 1200px 900px; 
  width: 100%;
  
} */